<!doctype html>
<html lang="en">

<style>
    .agency_banner_btn {
        background: #bb371a !important;
        border: 1px solid #bb371a !important;
    }

    .agency_banner_btn:hover {
        color: white !important;
    }
</style>

{% extends 'base.html' %}
{% block body %}

<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="static/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Project Details</h1>
            <p class="f_400 w_color f_size_16 l_height26">Diabetic Retinopathy Detection from Retinal Fundus Images
                using Deep Learning</p>
        </div>
    </div>
</section>
<section class="case_study_details_area sec_pad">
    <div class="container">
        <div class="study_details">
            <div class="row">
                <div class="col-lg-8">
                    <div class="details_img">
                        <img src="static/img/details/dr-detail-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_info">
                        <h2>Info</h2>
                        <ul class="list-unstyled">
                            <li><span>Technologies used:</span> Python, Tensorflow, Keras</li>
                            <li><span>Developed by:</span> Pratham Aggarwal, A2305319071,<br> B.Tech 4IT-2X, Amity Noida
                            </li>
                        </ul>
                        <div class="btn_info d-flex">
                            <a href="/detect-diabetic-retinopathy" class="btn_hover agency_banner_btn">Detect Diabetic
                                Retinopathy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="study_details_content">
                <h2>Project Brief:</h2>
                <p>Diabetic Retinopathy is an eye complication that arises due to diabetes. It caused when the blood
                    vessels of the retina (light-sensitive tissue) get damaged and vision gets affected. Uncontrolled
                    sugar level is the major cause as it damages the blood vessels and makes them swell & leak. In the
                    majority of the cases, there are no early symptoms and usual symptoms start to show when there is
                    vision loss or considerable retina damage. It is estimated that up to 80 percent of diabetic
                    patients who have had diabetes for more than 10 years are most vulnerable to diabetic retinopathy.
                </p>
                <p>Diagnosis of Diabetic Retinopathy is highly dependent on manual extraction and trained medical
                    professionals are needed for detection, management and treatment of the disease. With the lower
                    availability of trained professionals in developing nations, it has become a daunting task for the
                    patients to get treated and save their vision. Therefore, in this project, we try to build a
                    Convolutional Neural Network (CNN) to automatically diagnosis the disease at its different stages
                    from
                    retinal fundus images.</p>
                <br>
                <h2>Project Code:</h2>

                <iframe
                    src="https://jovian.ai/embed?url=https://jovian.ai/risewithgaurav/retinopathy-detection-model/v/1"
                    title="Jovian Viewer" height="1000" width="100%" style="margin: 0 auto; max-width: 1200px;"
                    frameborder="0" scrolling="auto"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock body %}